html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #f1f1f1 !important;
}

body::-webkit-scrollbar {
  display: none;
}

.mt-1 {
  margin-top: 1rem !important
}

.mt-05 {
  margin-top: .5rem !important;
}

.h-min-85vh {
  min-height: 85vh !important;
}

.mt-40vh {
  margin-top: 40vh !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mx-auto {
  margin: auto !important;
}

.p-0 {
  padding: 0 !important;
}

.color-gray {
  color: gray;
}

.color-red {
  color: #dd0909 !important;
  letter-spacing: .1rem !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.brand:hover {
  color: white;
}

.ui .buttons {
  margin-right: .3rem !important;
  margin-bottom: .5rem !important;
}

.edit-categories-icon {
  float: right;
}

.edit-categories-icon:hover {
  cursor: pointer;
}

.add-category-icon:hover {
  color: #0ea432;
  cursor: pointer;
}

.segment:hover {
  background-color: rgb(217, 247, 255) !important;
}

.segment .thirteen:hover {
  cursor: pointer;
}

.note-title {
  margin-bottom: .5rem;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.note-title .pencil {
  position: absolute;
  margin: .6rem 0 0 .8rem
}

.note-title .pencil:hover {
  cursor: pointer;
  color: #838383;
}

.word-wrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.text-area {
  padding: 1rem;
  width: 100%;
  max-height: 70vh;
}

.dropdownIcon {
  float: right;
  padding-top: .1rem;
}

.input-title {
  color: black !important;
  padding: 1rem;
  width: 100%;
  resize: none;
}

.note-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.color-picker {
  z-index: 2;
  position: fixed;
  margin-left: -13.7rem;
  margin-top: -2rem;
  z-index: 10
}

.category-edit-name {
  margin-top: .2rem;
  height: 3.53rem;
  padding: 0;
}

.category-edit-name:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.363);
  color: white
}

.category-color-circle {
  position: absolute;
  overflow: hidden;
  margin-top: 1rem;
  margin-left: .8rem;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  transition: .5s;
}

.category-name {
  padding-left: 2.2rem !important;
  position: relative !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.category-parent {
  position: relative !important;
  overflow: hidden !important;
}

.saved-popup {
  right: 45% !important;
  position: fixed !important;
  top: 6% !important;
  background-color: #09a809 !important;
  color: white !important;
  z-index: 1000 !important
}

.popup-header {
  padding: 0 1rem;
  margin: 0
}

.thrash-hover:hover {
  background-color: #ffcccc !important;
  color: rgba(0, 0, 0, .87) !important;
}

.ui.left.center.popup:before {
  top: 40% !important;
}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}