html {
  font-size: 14px !important;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #f1f1f1 !important;
}

body::-webkit-scrollbar {
  display: none;
}

.mt-1 {
  margin-top: 1rem !important
}

.mt-05 {
  margin-top: .5rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.h-min-85vh {
  min-height: 85vh !important;
}

.mt-40vh {
  margin-top: 40vh !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1-5 {
  margin-bottom: 1.5rem;
}

.mx-auto {
  margin: auto !important;
}

.p-0 {
  padding: 0 !important;
}

.color-gray {
  color: gray;
}

.color-red {
  color: #dd0909 !important;
  letter-spacing: .1rem !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left !important;
}

.brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.brand:hover {
  color: white;
}

.ui .buttons {
  margin-right: .3rem !important;
  margin-bottom: .5rem !important;
}

.edit-categories-icon {
  float: right;
}

.edit-categories-icon:hover {
  cursor: pointer;
}

.add-category-icon:hover {
  color: #0ea432;
  cursor: pointer;
}

.segment:hover {
  background-color: rgb(217, 247, 255) !important;
}

.segment .thirteen:hover {
  cursor: pointer;
}

.note-title {
  width: 80% !important;
  float: left !important;
  margin-bottom: .5rem;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.note-title .pencil {
  position: absolute;
  margin: .6rem 0 0 .8rem
}

.note-title .pencil:hover {
  cursor: pointer;
  color: #838383;
}

.word-wrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.text-area {
  padding: 1rem;
  width: 100%;
  max-height: 70vh;
}

.dropdownIcon {
  float: right;
  padding-top: .1rem;
}

.note-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.color-picker {
  z-index: 2;
  position: fixed;
  margin-left: -13.7rem;
  margin-top: -2rem;
  z-index: 10
}

.category-edit-name {
  margin-top: .2rem;
  height: 3.53rem;
  padding: 0;
}

.category-edit-name:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.363);
  color: white
}

.category-color-circle {
  position: absolute;
  overflow: hidden;
  margin-top: 1rem;
  margin-left: .8rem;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  transition: .5s;
}

.category-name {
  padding-left: 2.2rem !important;
  position: relative !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.category-parent {
  position: relative !important;
  overflow: hidden !important;
}

.saved-popup {
  right: 45% !important;
  position: fixed !important;
  top: 6% !important;
  background-color: #09a809 !important;
  color: white !important;
  z-index: 1000 !important
}

.popup-header {
  padding: 0 1rem;
  margin: 0
}

.ui.tabular.menu .active.item {
  margin-bottom: 0 !important;
}

.ui.left.center.popup:before {
  top: 40% !important;
}

.ui.active.button {
  color: rgb(255, 255, 255) !important;
  background-color: #4284e7 !important;
}

.ui.checkbox label, .ui.checkbox+label {
  color: black !important;
}

.textarea-edit-icon {
  background-color: #e0e0e0 !important;
  color: black !important;
}

.todo-menu-item {
  position: relative;
  font-size: 1em;
  line-height: 1em;
  padding: .7rem .5rem;
  padding-left: 2.4rem;
  width: 100%;
}

.todo-menu-item:hover {
  font-weight: bold !important;
}

.todo-menu-item i {
  position: absolute;
  font-size: 1.2rem !important;
  left: .6rem;
}

.todo-menu-list-item {
  position: relative;
  font-size: 1em;
  line-height: 1em;
  padding: .7rem .5rem;
  width: 100%;
}

.new-task {
  width: 84%;
  padding: .5rem 1rem;
  font-family: inherit;
  font-size: 1rem;
  border: 1px gray solid;
  border-radius: .1rem;
  margin-right: 1%;
}

.add-new-task {
  width: 15%;
  padding: .5rem 1rem;
  font-family: inherit;
  font-size: 1rem;
  border: 1px gray solid;
  border-radius: .1rem;
  position: relative;
  z-index: 2;
  transition: .35s;
}

.add-new-task:after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #10bd2d;
  transition: .35s;
  visibility: hidden;
}

.add-new-task:hover {
  color: #fff;
}

.add-new-task:hover:after {
  width: 100%;
  visibility: visible;
}

.task-title {
  display: inline-block;
  width: 88%;
}

.task-description {
  margin-left: 2.2rem;
  color: #363636;
}

.subtask {
  padding: 1rem .5rem 0 .5rem;
  border-top: 1px solid rgb(218, 218, 218);
  margin: 1rem 1.85rem 0 1.85rem;
  width: 85%;
}

.subtask-description {
  margin-left: 1.9rem;
  color: #363636;
}

.add-subtask {
  width: fit-content;
  color: #17a717;
  border-top: none
}

.pick-date-icon {
  background-color: #fff;
  box-shadow: 0 0 0 0.1em rgb(224, 65, 65) inset !important;
}

.to-do-category-animation-underline {
  transition: .4s;
  width: 0;
  background-color: #243ee0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.color-pick-button {
  width: 15%;
  display: inline-block;
  border: 1px gray solid;
  margin: .11rem 1% 0 0;
  padding: .4rem .6rem;
  text-align: center;
  border-radius: .1rem;
  cursor: pointer;
  font-weight: bold;
  transition: .1s;
}

.color-pick-button:hover, .remove-new-list-button:hover {
  background-color: #d8e0e7;
}

.remove-new-list-button {
  width: 5%;
  display: block;
  float: right;
  margin: .11rem 0 0 0;
  border: 1px gray solid;
  padding: .3rem .25rem;
  text-align: center;
  border-radius: .1rem;
  cursor: pointer;
  transition: .1s;
}

.footer {
  background-color: #222222;
  color: white;
  padding: 1rem;
  text-align: center;
}

/*#082e4c*/

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}